<div class="container">
  <div class="col-sm-offset-3 col-sm-5">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.text_area :description %>

      <%= f.fields_for :languages do |language_fields| %>
        <% @languages.each do |language| %>
          <%= language_fields.check_box language.name %>
        <% end %>
      <% end %>

      <br>
      <%= f.submit %>
    <% end %>
  </div>
</div>
